<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<!-- Config mail -->
		<add key="mail_sender" value="info@EO.com"/>
		<!-- TODO: Use Azure vault or my package SecurePaswordCrypt to secure password -->
		<add key="mail_password" value="yoursmtppassword"/>
		<add key="mail_host" value="yoursmtphost"/>
		<add key="mail_port" value="587"/>
		<add key="mail_is_ssl" value="true"/>
	</appSettings>
		
</configuration>
